@font-face {
  font-family: Pretendard;
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
}
@import url(/css/color.css);

*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: var(--Background);
  padding: 32px;
}

section{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

span{
  color: var(--Sign-black);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a{
  color: var(--Primary);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button{
  cursor: pointer;
}

.signMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.signMain__logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
}

.signMain__qusetion{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.signMain__qusetion span{
  font-size: 16px;
  line-height: normal;
}

#signMain__signForm{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.inputModal{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

input{
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20);
  background: var(--Section-white);
  font-size: 16px;
  line-height: 24px;
}

input:focus{
  border: 1px solid var(--Primary);
}

.eyeBtn{
  position: absolute;
  border: none;
  margin: 0;
  padding: 0;
  right: 15px;
  bottom: 20px;
  height: 16px;
}

.signMain__modalBtn{
  width: 400px;
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  background: var(--Gradient-purpleblue-to-skyblue);
  color: var(--Gray-cta);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.socialLogin{
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20);
  background: var(--Linkbrary-gray10);
  color: var(--Linkbrary-gray100);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.socialLogin__logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.mainLogo{
  width: 22px;
  height: 22px;
}

.socialLogin__logo a{
  display: flex;
  height: 42px;
  width: 42px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.google {
  background-color: var(--Section-white);
}

.kakao {
 background-color: var(--Kakao-logo-color);
}

@media(max-width: 767px){
  .signMain{
    max-width: 400px;
  }

  #signMain__signForm{
    width: 100%;
  }

  input{
    width: 100%;
  }

  .signMain__modalBtn{
    width: 100%;
  }

  .socialLogin{
    max-width: 400px;
  }

  .socialLogin{
    width: 100%;
  }
}