@font-face {
  font-family: Pretendard;
  src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
}
@import url(/css/color.css);

.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  background-color: var(--Section-white);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav{
  position: sticky;
  padding: 20px 200px;
  width: 100%;
  top: 0;
  z-index: 2;
  background-color: var(--Background);
}

.navModal{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 133px;
  height: 24px;
}

a{
  text-decoration: none;
}

.cta{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--Gradient-purpleblue-to-skyblue);
  color: var(--Gray-cta);
  padding: 16px 20px;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}

.cta-short{
  width: 8rem;
}

.cta-long{
  width: 22rem;
}

.description{
  width: 291px;
  color: var(--Description);
  font-family: Abel;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 0;
  grid-area: description;
  align-self: flex-start;
}

header {
  background: var(--Background);
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 4.5rem;
}

.header__contents{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
  width: 100%;
}

.header__contents img{
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.08);
}

.slogan {
  width: 708px;
  margin: 0;
  text-align: center;
  font-family: Pretendard;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5rem; /* 125% */
}

.slogan_gradient{
  background: var(--Slogan-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__image{
  padding: 3.1rem 2.5rem 0 2.5rem;
  margin: 0 auto;
  width: 1200px;
  aspect-ratio: 2;
  overflow: hidden;
}

.modalBtn.link{
  width: 350px;
  gap: 10px;
}

main{
  display: flex;
  flex-direction: column;
  padding: 7.5rem 0;
  background-color: var(--Section-white);
  gap: 100px;
}

main section:nth-child(even){
  grid-template: 
  "image header"
  "image description"
  /550px 291px;
}

section{
  display: grid;
  grid-template: 
  "header image"
  "description image"
  /291px 550px;
  row-gap: 10px;
  column-gap: 157px;
  width: 100%;
  height: fit-content;
}

section img{
  width: 100%;
  grid-area: image;
}

.textBox__title{
  width: 272px;
  font-family: Pretendard;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  margin: 0;
  grid-area: header;
  align-self: flex-end;
}

.textBox__title-1__gradient{
  background: var(--TextBox-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textBox__title-2__gradient{
  background: var(--Gradient-yellow-to-blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textBox__title-3__gradient{
  background: var(--Gradient-blue-to-white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textBox__title-4__gradient{
  background: var(--Gradient-blue-to-pink);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer{
  width: 100%;
  margin: 0 auto;
  background: var(--Footer-black);
  padding: 32px 104px 64px;
}

.description.codeit{
  width: fit-content;
}

.footer__menu{
  position: relative;
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__menu__modal{
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.footer__menu__modal a{
  color: #CFCFCF;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu__icon{
  display: flex;
  align-items: center;
  gap: 12px;
}

@media(max-width: 1199px){
  .navModal {
    max-width: 799px;
    margin: 0 auto;
  }

  nav{
    padding: 20px 32px;
  }

  header{
    padding-top: 2.5rem;
  }

  .header__image{
    width: 698px;
  }

  main{
    padding-top: 5rem;
  }

  section{
    grid-template: 
    "header image"
    "description image"
    /262px 385px;
    row-gap: 10px;
    column-gap: 51px;
  }

  main section:nth-child(even){
    grid-template: 
    "image header"
    "image description"
    /385px 262px;
  }
  
}

@media(max-width: 768px){
  html {
    font-size: 8px;
  }
  
  header{
    padding: 0 4rem;
  }

  .header__contents{
    gap: 3rem;
  }

  .header__image{
    width: 100%;
  }

  main{
    gap: 0;
  }

  section{
    grid-template: 
    "header"
    "image"
    "description";
    row-gap: 10px;
    column-gap: 51px;
    justify-content: center;
    padding: 5rem 4rem;
  }

  main section:nth-child(even){
    grid-template: 
    "header"
    "image"
    "description";
    row-gap: 10px;
    column-gap: 51px;
    justify-content: center;
    padding: 5rem 4rem;
  }

  .description{
    font-size: 2rem;
    width: 100%;
  }

  footer{
    padding: 4rem 4rem 8rem;
  }

  footer .description{
    position: absolute;
    left: 0;
    bottom: -60px;
  }

  .cta{
    padding: 13px 16px;
  }

  .cta-short{
    width: 10rem;
  }

  .cta-long{
    width: 25rem;
  }
}