.searchModal {
  width: 100%;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchForm {
  position: relative;
  width: 100%;
}

#folderSearch {
  position: relative;
  padding: 15px 32px;
  width: 100%;
  border-radius: 10px;
  background-color: #dddddd;
  border: 1px solid #dddddd;
}

.searchIcon {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 10px;
}
