.footer {
  width: 100%;
  margin: 60px auto 0;
  background: var(--Footer-black);
  padding: 32px 104px 64px;
}

.footer p {
  color: #cfcfcf;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description.codeit {
  width: fit-content;
}

.footer__menu {
  position: relative;
  margin-bottom: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__menu__modal {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.footer__menu__icon {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (max-width: 768px) {
  .footer {
    padding: 4rem 4rem 8rem;
  }

  .footer .description {
    position: absolute;
    left: 0;
    bottom: -60px;
  }
}
